.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 20px;
}

form {
    display: grid;
    gap: 50px;
}

input {
    display: block;
}

.book,
.manga {
    border: solid;
    * {
        margin: 10px;
    }
}

.showDialogue {
    margin: 5px;
}

.isFinishedDiv {
    display: none;
}

.indexNum {
    font-size: 9px;
}